CONFIG_DIR=/Users/simon/code/ticket/.ticket
DB_PATH=/Users/simon/code/ticket/.ticket/ticket.db
PROJECT_ID=2
PROJECT_PREFIX=DEMO
SDLC_ID=3
EPIC_ID=DEMO-1
TASK_MODEL_ID=DEMO-2
TASK_API_ID=DEMO-3
TASK_WEB_ID=DEMO-4
TASK_CI_ID=DEMO-5
BUG_ID=DEMO-6
STORY_ID=1
DECISION_ID=DEMO-7
IDEA_ID=DEMO-8
