WORKSPACE=/Users/simon/code/ticket/.tmp/todo-example
TICKET_HOME=/Users/simon/code/ticket/.tmp/todo-example/.ticket
TICKET_URL=/Users/simon/code/ticket/.tmp/todo-example/.ticket/ticket.db
PROJECT_ID=2
PROJECT_PREFIX=TODO
SDLC_ID=3
EPIC_ID=TODO-1
TASK_MODEL_ID=TODO-2
TASK_API_ID=TODO-3
TASK_WEB_ID=TODO-4
TASK_CI_ID=TODO-5
BUG_ID=TODO-6
STORY_ID=1
DECISION_ID=TODO-7
IDEA_ID=TODO-8
